body {
    background-color: brown;
}

h1{
    text-align: center;
    color: blue;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}
#imange{
    border: solid 9px;
    color: orange;
    margin: 60px;

}
a{
    color:black;
    font-weight:bold;
    display:inline;
    list-style: none;
    margin: 0px;
    text-decoration:none
}

a:hover {
    color: #07d544;
    cursor: pointer;

  }
  
.pan{
border: solid 9px;
margin: 20px;
padding: 20px;
color:azure;
font-size: 16px;

  }

  button{
    color:blue;
    margin-left:2cm;
  }